<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
           http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <servlet>
    <servlet-name>demo</servlet-name>
    <servlet-class>com.sematext.solr.web.ReSearcherDemoServlet</servlet-class>
    <init-param>
      <param-name>localSolrUrl</param-name>
      <param-value>http://localhost:8080/solr</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>demo</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>
      5
    </session-timeout>
  </session-config>
</web-app>
